@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:MuseoSans,helvetica,arial,sans-serif;
}
.calculator {
    display: grid;
    justify-content: center;
}

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom:0;
    right:0;
    background-color: lightblue;
}
